* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-family: sans-serif;
  background-color: #939BE6;
  color: white;
}

nav .brandLogo {
  font-size: 25px;
  font-weight: 800px;
  text-transform: uppercase;
  font-family: sans-serif;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

nav .nav-links a {
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}

nav .nav-links a:hover {
  border-bottom: 5px solid white;
}

nav .burgerMenu {
  font-size: 35px;
  display: none;
  cursor: pointer;
}


@media all and (max-width: 768px) {
  nav .burgerMenu {
    display: block;
  }

  nav .nav-links {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #939BE6;
    padding: 25px;
    width: 40%;
    transform: translateX(-500px);
    transition: 0.3s ease-in-out;
  }

  nav .nav-links li {
    padding: 25px;
    border-bottom: 2px solid white;
    transition: 0.5s ease;
  }

  nav .nav-links li:last-of-type {
    
    border-bottom: 0px solid white;
  }

  nav .nav-links a:hover {
    border-bottom: 0px solid white;
}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
