.welcomeBlock {
 background-color: #939BE6;
 border: 15px solid #939BE6;;
 color: white;
 justify-content: center;
 display: flex;
 width: auto;
 height: fit-content;
 padding: 15px;
 margin: auto;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-style: italic;
 font-size: 40px;
 
}