.welcomeBlock {
 background-color: #3E8FE6;
 border: 45px solid #3E8FE6;
 color: #94FFAB;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 50vh;
 margin: 0;
 padding: 15px;
 text-align: center;
 
}

.welcomeBlock h1 {
    font-size: 80px;
    font-family: 'Pattaya', sans-serif;
}