.welcomeBlock {
 background-color: #55E6ED;
 border: 45px solid #55E6ED;
 color: white;
 justify-content: center;
 display: flex;
 width: auto;
 height: fit-content;
 padding: 15px;
 margin: auto;
 
}

.welcomeBlock h1 {
    font-size: 80px;
    font-family: 'Pattaya', sans-serif;
}