.startSearch {
    display: flex;
    justify-content: center;
    
}

.mainJumbo {
    overflow-wrap: normal;
    justify-content: center;
    margin: 0 auto;
}

.jumboBack {
    background-color: #3e8fe6;
}

.mainContainer {
    background-color: #3e8fe6;
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    margin: 0 auto;
    padding: 15px;

    
}

.mainJumbo h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #94FFAB;
    font-weight: 900;
    text-align: center;
    
}

.mainJumbo p {
    text-align: center;
    font-family: 'Vidaloka', serif;
    font-size: large;
    font-weight: 900;
    color: #94FFAB;
}

.btn-flat {
    background-color: #52BBFF;
    font-family: 'Vidaloka' serif;
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
    margin: 0 auto;
    
    text-align: center;
}

.letsGo {
    color: white;
    font-size: 30px;
}